*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-none{
    text-decoration: none;
}
#container{
    position:relative;
}
#navbar{
    position: fixed;
    top:0px;
    left:20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#line{
    border-right:1px solid blue;
}
.line{
    height: 80px;
}
.list{
    list-style-type: none;
    text-decoration: none;
    text-align:center;
    font-size:25px;
}
.list li{
    margin-top: 5px;
    transition: all .5s;
    padding:5px 6px;
    cursor:pointer;
}
.list li a{color:#1a93b5;}
.list-menu li:hover {
    background-color: #2a064d;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-ico{
    font-size:30px;
    transition:all .2s;
}
.list-ico li a i:hover{
    transform:translate(0px,-5px)
                scale(1.2);
}
#home{
    height:100vh;
    width:80vw;
    margin:0 auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position:relative;
}
.darkmode{
    position:absolute;
    top:10px;
    right:-50px;
    display:flex;
    border:1px solid green;
    padding:5px;
    font-size:20px;
    cursor: pointer;
}
#sun{
    display: none;
}
.myimage{
    height:200px;
    width:200px;
    border-radius:50%;
    background:url(./image/profile.jpg)center/cover no-repeat;
}
#myimage{
    border:2px solid black;
}

.name{
    margin-top:10px;
    font-size:40px;
    font-family: "Kaushan Script";
}
.short{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}
.down-icon{
    font-size:30px;
    margin-top:20px;
    position: absolute;
    bottom:15px;
    cursor:pointer;
    animation:updown 2s linear infinite;
}
@keyframes updown {
    from{transform: scale(1);}
    to{transform:scale(1.5)}
}
/*=====media screen===*/
@media screen and (max-width:768px) {
    #home{height:80vh;}
    .darkmode{font-size:30px;}
    .name{margin-top:20px;}
    .short{font-size:30px;}
}
@media screen and (max-width:545px){#home{height:90vh}.myimage{height: 250px;width:250px;}.name{font-size:35px;text-align:center}#navbar{display:none}.darkmode{right:-18px; top:30px;}}
@media screen and (max-width:400px){.name{font-size:30px;}.short{font-size:23px;}.myimage{height: 200px;width:200px;}}
/*=========== About ==========*/
#about{
    background-color:rgba(184, 177, 177, 0.548);

}
.about-flex{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:50px 50px 50px 132px;
}
.para{
    width:60%;
    font-size:20px;
    line-break: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:justify;
    padding: 20px 0px 20px 28px;;
    margin-left:10px;
    color:#524c4c;

}
.button{
    background:#0072ff;
    padding:5px 8px;
    border-radius:3px;
    cursor:pointer;
    transition:all .2s;
    font-size:20px;
    float:right;
}
.button a{
    text-decoration: none;
    color:#fff;
    transition: all .2s ease-in-out;
}
.button a:hover{
    color:red;
}
.hey{
    font-size:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:#464141;
    margin-bottom:10px;
}
.img-about{
    background:url(./image/about.jpg)center/cover no-repeat;
    height: 500px;
    width:50%;
    border-radius:2px;
    box-shadow: black 1px 2px 5px 0px;
}
/*=====media screen===*/
@media screen and (max-width:1048px){.para{margin-left:30px; padding:0; width:80%;}}
@media screen and (max-width:918px){.about-flex{padding:50px 100px;}#navbar{left:0;}}
@media screen and (max-width:708px){.para{font-size:15px; width:100%}.img-about{height:200px;}}
@media screen and (max-width:600px){.about-flex{flex-direction: column;}.img-about{width:80%; margin-bottom:20px}}
@media screen and (max-width:545px){.about-flex{width:100%;padding:40px}.para{margin-left:0;}.para{font-size:20px}.hey{font-family: revert;}}
@media screen and (max-width:474px){.img-about{display: none;}.about-flex{padding:30px;}}

/*==================Project==============*/
#project{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding:50px;
    width:80%;
    margin:0 auto;
    grid-gap:30px;
}
.project-img, 
.project-img1, 
.project-img2,
.project-img3{
    height:500px;
    filter: blur(1px);
    border:1px solid black;
    border-radius: 3px;
    box-shadow: 8px 2px 15px 4px grey;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.project-img a, 
.project-img1 a, 
.project-img2 a,
.project-img3 a{
    color:#fff;
    visibility:hidden;
    padding:10px 20px;
    border-bottom:1px solid black;
    background: linear-gradient(to right, green, yellow);
    border-radius:0px 20px 0px 20px;
    transition:all .4s ease-in-out;
}
.project-img a:hover, 
.project-img1 a:hover, 
.project-img2 a:hover,
.project-img3 a:hover{
    background:#0072ff;
    color:#fff;
}
.project-img{
    background: url(./image/customer/coffee.JPG)center/cover no-repeat;
}
.project-img1{
    background: url(./image/customer/corona.JPG)center/cover no-repeat;
}
.project-img2{
    background: url(./image/customer/globeltech.JPG)center/cover no-repeat;
}
.project-img3{
    background: url(./image/customer/Trek-nepal.JPG)center/cover no-repeat;
}
.project-para{
    font-size:20px;
    margin-top:10px;
    text-align:right;
}
/*=======media screen=======*/
@media screen and (max-width:1140px){
    .project-img, 
    .project-img1, 
    .project-img2,
    .project-img3{ height :350px}}
@media screen and (max-width:954px){#project{width:90%;}}
@media screen and (max-width:740px){
    .project-img, 
    .project-img1, 
    .project-img2,
    .project-img3{height:230px}.project-para{font-size:12px}}
@media screen and (max-width:550px){#project{width:100%; padding:25px}}
@media screen and (max-width:425px){#project{display: block;} .project-img, .project-img1, .project-img2, .project-img3{font-size: 22px;}}
@media screen and (max-width:397px){
    .project-img, 
    .project-img1, 
    .project-img2,
    .project-img3{height:167px}.project-para{font-size:10px}}
/*========Skills*/
#skill-title{
    color:#0072ff;
    text-shadow:  1px 3px 3px #052a58;
}
.skills{
    width:80%;
    margin:10px auto;
    text-align:center;
    font-size:30px;
    border-bottom:1px dashed salmon;
    padding-bottom:20px;
}
.skill-flex{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    margin-top:20px;
}
.skill-icon{
    font-size:80px;
    transition: all .2s linear;
    cursor: pointer;
}
.skill-icon:hover{
    transform:rotateZ(360deg);
}
.fa-html5{
    color:rgb(255, 81, 0);
}
.fa-css3-alt{
    color:blue;
}
.fa-js{
    color:rgb(248, 165, 11);
}
.fa-bootstrap{
    color:purple;
} 
.fa-vuejs{
    color:rgb(24, 195, 90);
}
/*==========media=====*/
@media screen and (max-width:627px){.skills{font-size:23px;}.skill-icon{font-size:45px;}.skill-flex{width:60%;margin:10px auto;}}
@media screen and (max-width:478px){.skill-flex{width:90%}}

.contact-icon{
    margin-top:30px;
}
#contact-para{
    background-color:rgba(184, 177, 177, 0.548);
}
.contact-para{
    color:#1a93b5;
    margin-top:20px;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding:10px;
}
/*====media =============*/
@media screen and (max-width:425px) {.contact-para{font-size: 17px; padding:20px ;font-family: sans-serif;}}